{% extends 'home/base.html' %}

{% block content %}
<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-cell mdl-color-text--grey-500">
            Home &gt; Dispatch
            </div>
            <h5>
            Dispatch
            </h5>
            <h6>
            Orders for Current Shipment
            </h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col" align="right" style="margin: auto">
            <button onclick="location.href='/dispatch/get_itinerary'" id="get-itinerary" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Download Itinerary
            </button>
            <button id="dispatch-shipment" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Dispatch Shipment
            </button>
        </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col" align="center">
        <table width="100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th>Clinic </th> 
              <th>Time Placed</th>
              <th>Priority</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.clinic.name }}</td>
              <td>{{ order.time_placed }}</td>
              <td>{{ order.get_priority_display }}</td>
              <td>{{ order.get_status_display }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<script>
$('#dispatch-shipment').on('click', function() {
  $.post(
    '/dispatch/dispatch_shipment',
    { csrfmiddlewaretoken: '{{ csrf_token }}' },
    function(response) {
      alert(response);
      location.reload();
    }
  );
});
</script>
{% endblock %}
