{% extends 'home/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <br>
      <h1 class="mt-2">Profile</h1>
      <hr class="mt-0 mb-4">
  <h4>Welcome, {{ user.first_name }} {{ user.last_name }}!</h4>
  <p>Your email address: {{ user.email }}</p>
  <p><a href="{% url 'userprofile:edit_profile' %}">Edit Profile Details</a></p>
  <p><a href="{% url 'userprofile:change_password' %}">Change Password</a></p>
</div>
</div>
</div>
{% endblock %}
