{% extends 'home/base.html' %}

{% block content %}
<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-cell mdl-color-text--grey-500">
          Home &gt; Supplies
        </div>
        <h5>
          Supplies
        </h5>
      </div>
      <div class="mdl-cell mdl-cell--6-col" align="right" style="margin: auto">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          View Cart & Checkout
        </button>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col" align="center" style="padding: 5px">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <select class="mdl-textfield__input" id="select_category" name="category">
            {% if categories %}
            {% for category in categories %}
              <option value={{ category.id }} {% if category.id == category_id %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
            {% else %}
              <option></option>
            {% endif %}
          </select>
          <label class="mdl-textfield__label" for="octane">Category</label>
        </div>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col" align="center">
        <table width="100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Description</th>
              <th>Category</th>
              <th>Image</th>
              <th>Details</th>
              <th>Qty</th>
              <th>Add to Cart</th>
            </tr>
          </thead>
          <tbody>
            {% if items %}
            {% for item in items %}
            <tr>
              <td class="item-id" style="display:none;">{{ item.id }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ item.description }}</td>
              <td>{{ item.category.name }}</td>
              <td><img src="https://starkmans.com/pub/media/catalog/product/cache/image/1000x1320/e9c3970ab036de70892d86c6d221abfe/j/b/jb1324.jpg" height=100 /></td>
              <td><button type="button" class="mdl-button mdl-js-button mdl-button--raised" id="modalbutton" data-toggle="modal" data-target="#exampleModal">View Details</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                    <div class="modal-dialog" role="document" style="z-index:5000000;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Additional Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <ul style="list-style-type:none">
                                <li>Shipping weight: {{item.shipping_weight_grams}}</li>
                                <li>Category: {{item.category.name}}</li>
                                <li>Warehouse: {{item.warehouse.name}}</li>
                                <li>Description: {{item.description}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </td>
              <td>
                <div class="mdl-textfield mdl-js-textfield" style="width: 100px;">
                  <input class="quantity mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="qty1">
                  <label class="mdl-textfield__label" for="qty1">Qty...</label>
                </div>
              </td>
              <td>
                <button class="add-cart mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Add to Cart
                </button>
              </td>
            </tr>

            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<script>

	$('#select_category').on('change', function() {
    var loc = location.href;
    if (loc.indexOf("?") !== -1) {
      loc = loc.slice(0, loc.indexOf("?"))
    }
    loc += "?category_id=" + $(this).val();
    window.location = loc;
		return false;
  });

  $('.add-cart').on('click', function() {
    var url = location.href;
    if (url.indexOf("?") !== -1) {
      url = url.slice(0, url.indexOf("?"))
    }
    const itemID = $(this).parent().parent().find(".item-id").text();
    const quantity = $(this).parent().parent().find(".quantity").val();
    $.post( url + 'add_to_cart', { csrfmiddlewaretoken: '{{ csrf_token }}', "itemID": itemID, "quantity": quantity }, function( response ) {
      alert(response);
    });
	});
</script>
{% endblock %}
